/*  src/Title.css  */
.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #C4CAD7;
  color: #3C64B1;
}
